#containerforalgo1 {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  border: 2px solid black;
}

#containerforalgo2 {
 
  aspect-ratio: 1/1;
  position: relative;
  border: 2px solid green;
}

#containerforalgo1 canvas,
#containerforalgo2 canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid hotpink;
}

.main {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.wrapper {
   /*der wert der variable wird hier "näher" überschrieben*/
  /* var for color is being replaced by blue (instead of hotpink) AND affects the whole subtree*/

  --text-color:blue;
  border: 2px solid red;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
  flex-wrap: wrap;
}

/*children nach den parents aufschreiben*/

.algocard {
  /* this is why the text color here is being blue*/
  color: var(--text-color);
  outline: 2px solid black;
  /*je höher die zahl, um so früher der umbruch (wrap)*/
  flex-basis: 700px;
  flex-grow: 0;
  flex-shrink: 1;
}
