/*hier werden die css variablen angelegt,  initiiert*/
:root {
  --text-color:hotpink;
  --font-family: 'Martian Mono', monospace;
}

/* look here for examples: https://replit.com/@Viscoders2223/Erste-Webseite-annameide#style.css*/

body {
  /*hier werden die css variablen gecalled / verwendet*/
  color: var(--text-color);
  font-family: var(--font-family);
}


.logoandnavi {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  min-height: 14vh;
}

li {
  list-style-type: none;
  border: 2px solid black;
}

ul {
  align-items: center;
  gap: 24px; /*8er grid is cool*/
  display: flex;
  border: 2px solid hotpink;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 86vh;
  background-color: aqua;
  padding: 8px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  padding: 2%;
  
  width: 100%;
}

a:hover {
  color: red;
  font-size: 2rem;
}

