/*hier werden die css variablen angelegt,  initiiert*/
:root {
  --text-color:#222;
  --font-family: 'Martian Mono', monospace;
}

/* look here for examples: https://replit.com/@Viscoders2223/Erste-Webseite-annameide#style.css*/

body {
  /*hier werden die css variablen gecalled / verwendet*/
  color: var(--text-color);
  font-family: var(--font-family);
}

.logoandnavi {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  min-height: 14vh;
}

h1 {
  font-size: 2rem;
  padding-bottom: 16px;
}

span {
  font-weight: 800;
  color: cornflowerblue;
}


ul {
  align-items: center;
  gap: 24px; /*8er grid is cool*/
  display: flex;
  margin: 0;
  padding: 0 40px;
}

li {
  list-style-type: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 86vh;
  padding: 8px;
}

a {
  color: #7DA4FF;
}

a:hover {
  /*  color: #FFA996;*/
    color: #B38D34;
}

button {
  background-color: hotpink;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.introtextwrapper{
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.introtext {
  width: 70vw;
  font-size: 2rem;
  line-height: 1.6;
}

.subsitelayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subsitetext {
  width: 50%;
}

.subsitetext p {
  padding-top: 32px;
  line-height: 1.6;
}

.subsitetext img {
  padding-top: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 16px 0;
  width: 100%;
}

footer p {
  max-width: 40%;
  font-size: 8pt;
  text-align: center;
  padding: 4px 0;
  color: #222;
}