p{
    border: 2px solid red;
    display: inline-block;
}

#canvas-container {
    border: 2px solid red;
    top: 0;
    left: 0;
}

#canvas-container canvas {
    width: 100%;
    height: 100%;
}



.main {
border: 4px solid green;
display: flex;
justify-content: center;
  align-items: center;
}


.container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}