.main {
  padding: 8px;
  display: flex;
  flex-direction: column; 
}

a:hover {
  color: red;
  font-size: 2rem;
}

.subsitelayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subsitelayout ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  font-size: 1.2rem;
  padding: 40px 0;
}

.subsitelayout p {
  width: 60%;
  line-height: 1.6;
  font-size: 1.2rem;
}