<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>CSS vmin/vmax Unit</title>
  <link rel="stylesheet" href="./common.css">
  <style>
    .square-vminvmax-1 {
      width: 25vmin;
      height: 100px;
      background: blue;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .square-vminvmax-2 {
      width: 50vmax;
      height: 100px;
      background: green;
      margin-bottom: 20px;
    }

    .square-vminvmax-3 {
      width: 75vmin;
      height: 100px;
      background: red;
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <header>
    <h1>CSS vmin/vmax Unit</h1>
    <nav>
      <a href="./">
        <code>px</code>
      </a>
      <a href="./percent.html">
        <code>%</code>
      </a>
      <a href="./vwvh.html">
        <code>vw/vh</code>
      </a>
      <a href="./vminvmax.html">
        <code>vmin/vmax</code>
      </a>
      <a href="./em.html">
        <code>em</code>
      </a>
      <a href="./rem.html">
        <code>rem</code>
      </a>
    </nav>
  </header>
  <p>These squares are sized using <code>vmin</code> (viewport minimum) and <code>vmax</code> (viewport maximum) units:
  </p>
  <p>Resize your browser window to notice the difference</p>
  <div class="square-vminvmax-1"></div>
  <div class="square-vminvmax-2"></div>
  <div class="square-vminvmax-3"></div>
  <div class="square-vminvmax-3">
    <div class="square-vminvmax-2">
      <div class="square-vminvmax-1"></div>
    </div>
  </div>
</body>

</html>