<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- css stylesheet -->
  <link rel="stylesheet" href="./style.css" />

  <!-- adding google variable fonts -->
  <!-- how to use variable fonts exactly??? -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />

  <title>tribute homepage</title>
</head>

<body>
  <h1>Tribute Homepage to Rjoji Ikeda</h1>

  <p class="name-logo">
    池田 <br />
    亮司
  </p>

  <img class="artist" src="./assets/ryoji-ikeda.jpg" alt="Rjoji Ikeda" />

  <div class="biography">
    <p>
      Ryōji Ikeda is a Japanese visual and sound artist who currently lives
      and works in Paris, France. Ikeda's music is concerned primarily with
      sound in a variety of "raw" states, such as sine tones and noise, often
      using frequencies at the edges of the range of human hearing.
      Rhythmically, Ikeda's music is highly imaginative, exploiting beat
      patterns and, at times, using a variety of discrete tones and noise to
      create the semblance of a drum machine. His work also encroaches on the
      world of ambient music and lowercase; many tracks on his albums are
      concerned with slowly evolving soundscapes, with little or no sense of
      pulse.
    </p>
  </div>

  <div class="container">
    <div class="exhibitonlist">
      <p>Solo Exhibitions</p>

      <!-- This was answered by chat GPT -->
      <!-- How to add a map with places of exhibitions? -->
      <p>
        2002
        <li>
          db, NTT InterCommunication Center (ICC), Tokyo, JP (curated by
          Minoru Hatanaka)
        </li>
      </p>

      <p>
        2007
        <li>data.tron [prototype], De Vleeshal, Middelburg, NL</li>
      </p>

      <p>
        2008
        <li>
          datamatics, Yamaguchi Center for Arts and Media (YCAM), JP (curated
          by Kazunao Abe)
        </li>
        <li>spectra, dream amsterdam 2008, Amsterdam, NL</li>
        <li>
          data.tron, MIC Toi Rerehiko, Media and Interdisciplinary Arts
          Centre, Auckland, NZ
        </li>
        <li>V≠L, Le Laboratoire, Paris, FR (curated by Caroline Naphegyi)</li>
      </p>

      <p>
        2009
        <li>
          data.tron [8K enhanced version], Ars Electronica Center, Linz, AT
        </li>
        <li>
          +/- [the infinite between 0 and 1], Museum of Contemporary Art
          Tokyo, JP (curated by Yuko Hasegawa)
        </li>
        <li>
          data.tron, Ikon Gallery, Birmingham, UK (curated by Nigel Prince)
        </li>
        <li>
          data.tron vy Ikeda on show in transmediale 10, Berlin, Germany
        </li>
      </p>

      <p>
        2010
        <li>
          spectra [barcelona], Grec Barcelona Festival and Sonár, Barcelona,
          ES
        </li>
        <li>
          the transcendental, French Institute Alliance Française, New York,
          US
        </li>
        <li>test pattern [nº3], Théâtre de Gennevilliers, FR</li>
      </p>

      <p>
        2011
        <li>
          the transfinite, Park Avenue Armory, New York, US (curated by Kristy
          Edmunds)
        </li>
        <li>
          datamatics, Museo de Arte, Universidad Nacional de Colombia, Bogotá,
          CO (curated by Maria Belen Saez de Ibarra)
        </li>
      </p>

      <p>
        2012
        <li>
          db, Hamburger Bahnhof, Berlin, DE (curated by Ingrid Buschmann and
          Gabriele Knapstein)
        </li>
        <li>
          datamatics, LABoral Centro de Arte y Creación Industrial, Gijón, ES
          (curated by Benjamin Weil)
        </li>
        <li>data.anatomy [civic], KRAFTWERK, Berlin, DE</li>
        <li>
          Ryoji Ikeda, DHC/ART, Montréal, CA (curated by John Zeppetelli)
        </li>
      </p>

      <p>
        2013
        <li>data.scan [nº1-9], MU and STRP Biennale, Eindhoven, NL</li>
        <li>test pattern [nº4], FRAC Franche- Comté, Besançon, FR</li>
        <li>
          test pattern [nº5], Carriageworks/ISEA2013/VividSydney, Sydney, AU
        </li>
        <li>
          data.tron [3 SXGA+ version], Wood Street Galleries, Pittsburgh, US
        </li>
        <li>data.path, Espacio Fundación Telefónica, Madrid, ES</li>
        <li>systematics, Gallery Koyanagi, Tokyo, JP</li>
      </p>

      <p>
        2014
        <li>
          supersymmetry, Yamaguchi Center for Arts and Media (YCAM),
          Yamaguchi, JP
        </li>
        <li>
          C⁴I [screening version], Musée d’art contemporain de Montréal, CA
        </li>
        <li>supersymmetry, le lieu unique, Nantes, FR</li>
        <li>test pattern [times square], Times Square, New York, US</li>
        <li>Ryoji Ikeda, Salon 94, New York, US</li>
        <li>
          test pattern [nº6], Red Bull Music Academy – Spiral Hall, Tokyo, JP
        </li>
        <li>Ryoji Ikeda, House of Electronic Arts Basel (HeK), CH</li>
        <li></li>
      </p>

      <p>
        2015
        <li>data.tron/data.scan, SCAD Museum of Art, Savannah, US</li>
        <li>supersymmetry, The Vinyl Factory, London, UK</li>
        <li>micro | macro, ZKM, Karlsruhe, DE</li>
        <li>datamatics, Espai d’art contemporani de Castelló, ES</li>
        <li>supersymmetry, KUMU Art Museum, Tallinn, EE</li>
      </p>

      <p>
        2016
        <li>data.matrix [nº1-10], Wood Street Galleries, Pittsburgh, US</li>
        <li>data.scape, ICC Sydney, Sydney, AU</li>
      </p>

      <p>
        2018
        <li>Ryoji Ikeda | continuum, Centre Pompidou, Paris, FR</li>
        <li>micro | macro, Carriageworks, Sydney, AU</li>
        <li>
          Ryoji Ikeda: code-verse, Garage Museum of Contemporary Art, Moscow,
          RU
        </li>
        <li>Ryoji Ikeda, Eye Filmmuseum, Amsterdam, NL</li>
      </p>

      <p>
        2021
        <li>Ryoji Ikeda, 180 The Strand, London, UK</li>
      </p>
    </div>

    <div class="map">
      <p>Exhibition locations</p>
      <img src="./assets/world.svg" alt="world map" />
    </div>
  </div>

  <footer>&copy; Anna Meide 2023</footer>
</body>

</html>