<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>p5.js Algorithmen von NAME</title>
  <link href="reset.css" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;400;800&display=swap" rel="stylesheet">
</head>

<body>
  <header class="main-header">
    <div class="container">
      <a href="/" class="header-logo text-link">
        p5.js Algorithms
      </a>
      <nav class="header-menu">
        <ul>
          <li>
            <a href="#welcome" class="text-link">
              Willkommen
            </a>
          </li>
          <li>
            <a href="#algorithms" class="text-link">
              Algorithmen
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="main-content">
    <section class="introduction" id="welcome">
      <div class="container">
        <h1 class="introduction-title">
          Hallo! Ich bin
          <span class="highlight">Erika Musterfrau</span>, <br />
          und das sind meine p5.js Algorithmen
        </h1>
        <p class="introduction-content">
          Diese Seite präsentiert eine Auswahl der
          <a class="text-link" href="" target="_blank">p5.js</a> Algorithmen die
          im Wintersemester 2022/23 in der Lehrveranstaltung
          <strong>"Visuelle Geschichten mit Code und Daten"</strong>
          an der Universität Fachhochschule Potsdam entstanden sind.
        </p>
      </div>
    </section>
    <section class="algorithms" id="algorithms">
      <div class="container">
        <ul class="algorithms-grid">
          <li class="algorithm-item">
            <a href="" target="_blank">
              <div class="algorithm-image">
                <img src="./assets/thumbnails/algorithm-01.png" />
              </div>
              <div class="algorithm-content">
                <h2 class="algorithm-title text-link">
                  Perlin Pokemon
                </h2>
                <p class="algorithm-description">
                  Experimente mit Pokemon-Daten und Perlin-Noise
                </p>
              </div>
            </a>
          </li>
          <li class="algorithm-item">
            <a href="" target="_blank">
              <div class="algorithm-image">
                <img src="./assets/thumbnails/algorithm-02.png" />
              </div>
              <div class="algorithm-content">
                <h2 class="algorithm-title text-link">
                  Tic Tac Toe
                </h2>
                <p class="algorithm-description">
                  Erstellung eines Musters,
                  das sich von den Konzepten der Raster
                  und der Abwechslung inspiriert
                </p>
              </div>
            </a>
          </li>
          <li class="algorithm-item">
            <a href="" target="_blank">
              <div class="algorithm-image">
                <img src="./assets/thumbnails/algorithm-03.png" />
              </div>
              <div class="algorithm-content">
                <h2 class="algorithm-title text-link">
                  Weltstädten
                </h2>
                <p class="algorithm-description">
                  Visualisierung von Weltstädten in einem
                  Netz flimmernder Verbindungen
                </p>
              </div>
            </a>
          </li>
          <li class="algorithm-item">
            <a href="" target="_blank">
              <div class="algorithm-image">
                <img src="./assets/thumbnails/algorithm-04.png" />
              </div>
              <div class="algorithm-content">
                <h2 class="algorithm-title text-link">
                  Bubbles Scan
                </h2>
                <p class="algorithm-description">
                  Spielen mit der Idee der Formerkennung
                  anhand der Position einer Linie
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <footer class="main-footer">
    <p class="container">
      Copyright © 2022 Erika Musterfrau - All Rights Reserved.
    </p>
  </footer>
</body>

</html>