#containerforalgo1 {
    width: 50%;
    aspect-ratio: 16/9;
    position: relative;
  }
  
  #containerforalgo1 canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .subsitelayout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subsitetext {
    width: 50%;
  }


  button {
    background-color: hotpink;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

 